<h2>Stupid Coaching</h2>

<!-- <p>Ask your coach anything:</p> -->
<form action="/answer">
  <!-- ? acima= qual url para onde o form vai mandar o valor -->
  <!-- ? abaixo qual o valor que será mandado -->
  <label for="question">Ask your coach anything:</label>
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
